*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #fd3434c7;
}

#Acceuil{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

div{
    z-index: 10;
}

.logo{
    color: #fff;
    font-size: 20px;
    animation: logo 2s infinite;
}



#Accueil p, .e{
    color: #fff;
    font-size: 25px;
}

p{
    color: #fff;
    font-size: 20px;
    font-family: "Dancing Script", cursive;

}

span{
    color: #fd3434d8;
    position: relative;
}

span::before{
    content: '';
    animation: words 20s infinite;
    font-weight: 500;
}

p span::after{
    content: '';
    position: absolute;
    background: #000;
    height: 100%;
    width: calc(100% + 8px);
    border-left: 4px solid #fd3434d8;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}


i{
    font-size: 100px;
    animation: coeur 5s infinite ease-in;
    position: absolute;
    color: red;
    transform: translateY(55vh);
}

i:nth-child(2){
    animation-delay: .5s;
    left: 140px;
    font-size: 20px;
}
i:nth-child(3){
    animation-delay: 3s;
    left: 100px;
    font-size: 30px;
}

i:nth-child(4){
    animation-delay: 1s;
    left: 60px;
    font-size: 60px;
}

i:nth-child(5){
    animation-delay: 3.5s;
    left: 20px;
    font-size: 16px;
}

i:nth-child(6){
    animation-delay: 1.5s;
    right: 160px;
    font-size: 20px;
}

i:nth-child(7){
    animation-delay: 4s;
    right: 120px;
    font-size: 25px;
}

i:nth-child(8){
    animation-delay: 2s;
    right: 90px;
    font-size: 20px;
}

i:nth-child(9){
    animation-delay: 4.5s;
    right: 50px;
    font-size: 60px;
}

i:nth-child(10){
    animation-delay: 2.5s;
    right: 10px;
    font-size: 20px;
}

i:nth-child(11){
    font-size: 60px;
    animation: logo 1s infinite;
}

.image{
    height: 100vh;
    width: 100vw;
    animation: photo 40s infinite;
    background-position: center;
    background-size: cover;
}


#nous{
    position: relative;
    font-size: 200px;
    animation: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: initial;
    transform: translate(0);
    margin-bottom: 50px;
    animation: logo 1s infinite;
}

#and{
    font-size: 10px;
    position: initial;
    animation: none;
    position: absolute;
    transform: translate(0);
    margin-left: -132px;
    margin-top: -5px;
}

.gk{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    left: 85px;
}

.b{
    font-size: 60px;
    color: #000;
    position: relative;
    left: -130px;
}

.g, .k{
    font-size: 20px;
    position: relative;
    left: -120px;
}

@keyframes photo {
    0%{
        background-image: url(IMG_1380.jpg);
    }
    10%{
        background-image: url(IMG_0090.jpg);
    }
    20%{
        background-image: url(IMG_0544.jpg);
    }
    30%{
        background-image: url(IMG_1365.jpg);
    }
    40%{
        background-image: url(IMG_2905.jpg);
    }
   
    50%{
        background-image: url(IMG_4033.jpg);
    }
    60%{
        background-image: url(IMG_4036.jpg);
    }
    70%{
        background-image: url(IMG_4653.jpg);
    }
    80%{
        background-image: url(IMG_4916.jpg);
    }
    90%, 100%{
        background-image: url(unnamed.jpg);
    }

}

#dicton{
    animation: none;
    color: #000;
    transform: translate(0);
    font-size: 12px;
    position: unset;
    color: #fff;
}

.declaration{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.declaration p{
    width: 300px;
    text-align: center;
    color: #fff;
    font-weight: 300
}

#Demande{
    color: #000;
    width: 100%;
    text-align: center;
    animation: logo 1s infinite;
    margin-bottom: 100px;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    text-shadow: 0 0 5px #fff;

}


@keyframes coeur {
    0%{
        transform: translateY(55vh);
    }
    100%{
        transform: translateY(-55vh);
    }
}

@keyframes words{
    0%, 20%{
        content: 'Mon Emeraude';
    }
    21%, 40%{
        content: 'Ma Reine';
    }
    41%, 60%{
        content: 'Ma Moitié';
    }
    61%, 80%{
        content: 'Ma Khaleesi';
    }
    81%, 100%{
        content: 'Mon Amour';
    }
}

@keyframes cursor {
    to{
        border-left: 2px solid #fc5d0100;
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100%{
        width: calc(100% + 8px);
    }
}

@keyframes logo {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}